.container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .table {
    text-align: center;
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .btn-block {
    margin-top: 10px;
  }